* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
html, body {
  height: 100%;
  width: 100%;
}

.main{
  height: 100vh;
  width: 100%;
  background-color: rgb(38, 51, 76);
  border: 10px solid black;
  padding:20px;
}
.inner_1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  margin: 20px;
}

.inner_1 h1{
  margin: 20pxpx;
  color: white;
}

.inner_1 span{
  font-size: 1rem;

}

.inner_2 {
  
  margin: 20px;
}

@media (max-width: 768px) {
  .inner_1 {
    flex-direction: column; /* stack image & text */
  }

  .inner_1 h1 {
    font-size: 1.5rem;
  }

  .inner_2 {
    font-size: 1rem;
  }
}


